<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\github\cppbindlua.git\trunk\cppbindlua\Debug\cppbindlua.exe</StartProgram>
    <StartArguments>F:\github\cppbindlua.git\trunk\luacallcpp\luacallcpp\main.lua</StartArguments>
    <StartWorkingDirectory>F:\github\cppbindlua.git\trunk\luacallcpp\luacallcpp</StartWorkingDirectory>
  </propertyGroup>
</Project>